.amenities{
	display: inline-block;
}

.top-logo{
	background-color: #002c77;
}

.btn-almundo{
	background-color: #002c77;
	color: white;	
}

.space-top{
	margin-top: 10px;
}

.background-color-almundo{
	background-color: #BFC7D9;
}

.stars-almundo{
	padding: 10px;
}